@import url("https://fonts.googleapis.com/css2?family=Exo:wght@400;600;700&family=Montserrat:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos Globais */
body {
  @apply bg-gray-50 text-gray-900 font-sans;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-display;
}
